<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <link href="src/css/bootstrap.min.css" rel="stylesheet">
        <link href="src/css/jquery.fancybox.css" rel="stylesheet">        
        <link href="src/css/main.css" rel="stylesheet">
    </head>
    <body>
        
        <div id="shop" class="shop">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">Please choose category:</div>
                        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" id="categories">
                            
                        </div>
                    </div>
                    <br>
                    <div class="filters">
                        <div class="loatLeft">Sort by</div>
                        <div class="loatLeft" id="sort"></div>
                    </div>
                    <br>                    
                    <div  class="products" id="productList">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                    <div id="cart">

                    </div>
                </div>
            </div>
                
        </div>
        
        
            <script type="text/template" id="category-template">
                <div class="loatLeft">
                    <a style="margin: 10px;" href="#"><%= title%></a>
                </div>
            </script>

            <script type="text/template" id="sort-template">            
            <select name="sortType" class="sorting">
                <option value="none" selected >не сорувати</option>
                <option value="sortByPriceAsc">за зростанням ціни</option>
                <option value="sortByPriceDesc">за спаданням ціни</option>
            </select>                
            </script>

            
            <script type="text/template" id="product-template">
                    <div class="placeholde">                
                    <div class="product box">
                        <div id="gallery_<%=gallery_id%>" class="productGallery">
                            
                        </div>
                        <div class="productTitle">
                            <a>
                                <%= title%>
                            </a>
                        </div>
                        
                        <div class = "productDescription">
                            <%= description%>
                        </div>

                        <div class = "productControls">
                            <div class="productControl productControlLeft">
                                <input id="qt_<%=id%>" type="number" min="0" max="<%= quantity - quantityInCart%>" step="1" value="0" class="productCnt">
                            </div>
                            <div class="productControl productControlRight">
                                <button class="addToCart" id="button_<%=id%>" <%=((quantity-quantityInCart) == 0)?'disabled':''%>>
                                    <div>
                                        <div class="buttonPartLeft"><%= price.toFixed(2)%></div>
                                        <div class="buttonPartRight">
                                            <img src="src/img/cart_in.png">
                                        </div>
                                    </div>
                                </button>
                            </div>                    
                        </div>
                    </div>
                    </div>            
            </script>
            <script type="text/template" id="product-gallery-template">
                    <a class="fancybox" rel="gallery_<%=galleryId%>" href="<%=uri%>">
                        <img src="<%=uri%>" class="<%=galleryImageClass%>">
                    </a>
            </script>
            

            
            <script type="text/template" id="cart-template">
                <div class="cart box">
                    <div class="cartHeader">
                        <div class="cartHeaderPartLeft">Shopping basket</div>
                        <div class="cartHeaderPartRight">
                            <img src="src/img/cart.png">
                        </div>
                    </div>
                    <div id="cartProduct">
                            
                    </div>
                    <div class="line">
                        <%= totalSum%>
                    </div>                
                </div>
            </script>
            <script type="text/template" id="cart-product-template">
                        <div class="line">
                            <div class="cartRowPart cartRowPart1">
                                <%= title%>
                            </div>
                            <div class="cartRowPart cartRowPart2">
                                <input id="qtct_<%=id%>" type="number" min="0" max="<%=quantity%>" step="1" value="<%=quantityInCart%>" class="productCnt">
                            </div>
                            <div class="cartRowPart cartRowPart3">
                               <%=price.toFixed(2)%>
                            </div>
                        </div>
            </script>                
               
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="src/js/bootstrap.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
            <script src="src/js/jquery.fancybox.js"></script>
            <script src="src/js/app.js"></script>
    </body>
</html>