.loatLeft {
    float: left;
}

.shop {
    margin: 50px;
    /*max-width: 1000px*/
}

.categories {
    margin: 10px;
    text-align: left;
    width: 100%;
    float: none;
}

#categories a {
    color: #50b447;    
}

.filters {
    margin: 10px;
    text-align: left;
    width: 100%;    
    float: none;
}

.sorting {
    margin-left: 20px;
}

.products {
    text-align: left;
    width: 100%;
    float: none;
}

.box {
    width: 200px;    
    box-shadow:  0 0 10px rgba(0,0,0,0.5);    
}

.product {
    height: 450px;
    background-color: #eeeeee;
    float: left;
    overflow: hidden;
    font-size: 14px;
}
.product:hover{
    position: absolute;
    height: 500px;    
    z-index: 3000;
}

.placeholde {
    margin: 20px;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);      
    float: left;
    width: 200px;
    height: 450px;
    background-color: #eeeeee;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.productGallery {
    text-align: center;
}
.mainImage {
    width: 200px;
    height: 200px;
}

.additionalImage {
    width: 35px;
    height: 35px;
}

.productTitle {
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5%;
    width: 90%;
}

.product a {
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    color: #50b447;
}

.product .productDescription{
    margin: 10px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    word-wrap: break-word;
    height: 25%;    
}

.productControls{
    margin: 10px;
    float: bottom;
    height: 10%;
    width: 90%;    
}

.productControl{
}

.productControlRight{
    float: right;
    width: 68%;
    text-align: right;
    padding-left: 5px;
    vertical-align: auto;
}

.productControlLeft{
    float: left;
    width: 30%;
    text-align: left;
    padding-right: 5px;
    vertical-align: auto;
}

.addToCart {
    background: linear-gradient(to top, #50b447, #3cee00);
    width: 100%;
    height: 40px;
    border-radius: 15px;
}

.addToCart:hover {
   background: #3cee00;
}
.addToCart:disabled {
   background: #eeeeee;
}

.buttonPartLeft {
    float: left;
    width: 60%;
    text-align: right;
        
}
.buttonPartRight {
    float: right;
    width: 30%;   
}




.cart {
    font-size: 12px;
    color: #5b594c;
    
    margin: 20px;
    width: 200px;
    padding: 10px;
    background-color: #ffff9a;
    float: left;
    box-shadow:  0 0 10px rgba(0,0,0,0.5);    
}

.cartHeader{
    vertical-align: middle;
    height: 30px;
}

.cartHeaderPartLeft{
    float: left;
    width: 69%;
    vertical-align: middle;
    text-align: center;
    height: 30px;
}

.cartHeaderPartRight{
    float: left;
    width: 29%;    
}

.cartRow{
    
}
.cartRowPart{
    height: 20px;
    float: left;
    vertical-align: middle;
}
.cartRowPart1{
    height: 15px;
    overflow: hidden;
    text-overflow: clip;
    width: 50%;
    text-align: left;
}

.cartRowPart2{
    width: 25%;
    text-align: center;
}

.cartRowPart3{
    width: 24%;
    text-align: right;
}

.line {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    margin: 10px 0px;
    background-color: inherit;
    border-top-color: #e4d506;
    border-top-style: solid;
    border-top-width: medium; 
    text-align: right;
    vertical-align: middle;
}